/* .NavToggle {
  background-image: url("../../../assets/burger-menu.svg");

  display: none;

  padding: 1rem 1.5rem;
  min-height: 60px;

  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  cursor: pointer;

  background-color: transparent;
  color: #0b1c2c;
  border: none;
} */
.NavToggle {
  display: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.NavToggle div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #0b1c2c;
}
.NavToggle .line2 {
  width: 17px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .NavToggle {
    display: inline-block;
  }
}