.NavItem a {
  display: block;
  padding: 1rem;
  color: #0b1c2c;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.NavItem a:hover {
  background-color: rgba(0, 0, 0, .1);
}
.NavItem a::before {
  content: "";
  height: 1px;
  width: 0;
  background-color: #0b1c2c;
  position: absolute;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}
.NavItem a.active {
  border-color: #0b1c2c;
}
.Logo {
  font-size: 1.6rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: .2em;
  color: #0b1c2c;
  padding: 0rem;
  margin: 0;
  text-decoration: none;
}

