.NavItem a {
  display: block;
  padding: 1rem;
  color: black;
  font-size: 1rem;
  text-decoration: none;
}
.NavItem a:hover {
  background-color: rgba(0, 0, 0, .1);
}
.NavItem a.active {
  border-color: #0b1c2c;
}
.Logo {
  font-size: 1.3rem;
  letter-spacing: .1em;
  color: #0b1c2c;
  padding: 0rem;
}
.Logo:hover {
  background-color: transparent;
}
